.root {
  text-align: center;
}

.span {
    font-size: 64px;
}

.description {
  text-align: center;
  font-size: 18px;
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777;
  max-width: 560px;
  margin: 20px auto 0;
}
